@use "../../assets/styles/colors.scss" as colors;

.services {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 60px;

    li {
      background: colors.$white;
      border-radius: 8px;

      > div {
        display: flex;
      }

      strong {
        display: block;
        color: colors.$gray-light;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    h2 {
      color: colors.$title;
      margin-bottom: 14px;
    }

    .services-icons {
      height: max-content;
      background: #e9f6ee;
      color: colors.$primary;
      padding: 20px 20px 4px 20px;
      font-size: 36px;
      border-radius: 15px;
      margin-right: 35px;
    }
  }

  @media (max-width: 500px) {
    ul {
      li > div {
        flex-wrap: wrap;
      }

      .services-icons {
        margin-bottom: 20px;
      }
    }
  }
}
