@use "../../assets/styles/colors.scss" as colors;

.services {
  background: #fcfdfd;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;

    li {
      background: #ffffff;
      border-radius: 8px;

      > div {
        display: flex;
      }

      strong {
        display: block;
        color: #dedede;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    h2 {
      color: #2e2e2e;
      margin-bottom: 14px;
    }

    .services-icons {
      height: max-content;
      background: #e9f6ee;
      color: colors.$primary-color;
      padding: 20px 20px 4px 20px;
      font-size: 36px;
      border-radius: 15px;
      margin-right: 35px;
    }
  }
}
