@use "../../assets/styles/colors.scss" as colors;

.projects {
  img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
  }

  li {
    display: flex;
    grid-gap: 60px;
    width: 100%;

    &:nth-child(2n) {
      flex-direction: row-reverse;
      text-align: right;
      .projects-content-button {
        float: right;
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    > div {
      width: 50%;

      h3 {
        font-size: 38px;
        font-weight: 500;
        color: colors.$secondary;
      }

      h1 {
        margin: 15px 0;
      }

      p {
        line-height: 26px;
      }
    }
  }

  @media (max-width: 500px) {
    img {
      width: 100%;
      height: 200px;
    }

    li {
      flex-wrap: wrap;

      &:nth-child(2n) {
        flex-direction: initial;
        text-align: left;
        .projects-content-button {
          float: left;
        }
      }

      &:not(:last-child) {
        margin-bottom: 80px;
      }

      > div {
        width: 100%;
      }
    }
  }
}
