@use "../../assets/styles/colors.scss" as colors;

.about {
  color: #fff;

  position: relative;
  .container {
    background: black;
    padding-left: 80px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    background-color: black;
    z-index: -1;
  }
}

.about-content {
  p {
    display: inline-block;
  }

  > div {
    display: flex;
    margin-top: 15px;

    > div:first-child {
      margin-right: 60px;
    }

    h2 {
      display: block;
      font-size: 46px;
    }

    .about-content-primary {
      background: linear-gradient(
        55deg,
        colors.$primary-color,
        40%,
        #2fe0da 60%
      );
    }

    .about-content-secondary {
      background: linear-gradient(55deg, colors.$blue-color, 40%, #35acfc 60%);
    }

    .about-content-primary,
    .about-content-secondary {
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.about-button {
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 3px;
  letter-spacing: 0.3px;
  padding: 10px 0;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s linear;

  &:hover {
    background: colors.$primary-color;
    color: #ffffff;
    padding: 10px 42px;
  }

  svg {
    margin-left: 8px;
  }
}
