@use "../../assets/styles/colors.scss" as colors;

.contact {
  background: black;
  text-align: center;

  h1 {
    font-size: 62px;
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto 30px auto;
  }

  button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
  }
}
