@use "../../assets/styles/colors.scss" as colors;

.contact {
  background: colors.$bg-black;
  background-image: url('/bg-contact.svg');
  background-position: bottom -33px right 200px;
  background-repeat: no-repeat;
  background-size: 400px;

  > div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  text-align: center;

  h1 {
    font-size: 62px;
    color: colors.$white;
    max-width: 700px;
    margin: 0 auto 30px auto;
  }

  button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
  }
}
