@use "../../assets/styles/colors.scss" as colors;

.footer {
  background: colors.$bg-black;

  a {
    transition: all 0.2s linear;

    &:hover {
      color: colors.$secondary;
    }
  }

  a,
  p,
  strong {
    color: colors.$white;
  }

  > div {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

    .footer-top-logo {
      img {
        max-width: 250px;
        margin-bottom: 30px;
      }

      max-width: 350px;
    }

    .footer-grid {
      display: flex;
      grid-gap: 80px;

      strong {
        display: block;
        margin-bottom: 15px;
      }

      li {
        padding: 6px 0;
      }
    }
  }

  .footer-bottom {
    .container {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding: 30px 0 !important;
    }

    background: colors.$bg-black;
    font-weight: 500;
    letter-spacing: 0.3px;

    svg {
      font-size: 20px;
      margin-left: 30px;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: colors.$paragraph;
        font-size: 12px;
      }
    }
  }

  @media (max-width: 500px) {
    > div {
      flex-wrap: wrap;
      padding-top: 80px;

      .footer-top-logo {
        width: 100%;
        margin-bottom: 40px;
      }

      .footer-grid {
        flex-wrap: wrap;
        grid-gap: 60px;
      }
    }

    .footer-bottom {
      .container {
        svg {
          margin: 0;
        }

        & a:nth-child(2) {
          margin: 0 20px;
        }
      }

      span {
        margin-bottom: 20px;
      }

      > div {
        flex-direction: column;
      }
    }
  }
}
