@use "../../assets/styles/colors.scss" as colors;

.feedbacks {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }

  li {
    padding: 50px 40px;
    border-radius: 8px;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    }
  }

  .feedbacks-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 40px;

    .feedbacks-content-quot {
      font-size: 36px;
      display: block;
      margin-bottom: 20px;
      color: colors.$secondary;
    }

    .feedbacks-content-user {
      display: flex;
      letter-spacing: 0.3px;
      margin: 20px 0;

      strong {
        display: block;
      }

      span {
        font-size: 12px;
      }
    }

    .feedbacks-content-stars svg {
      margin-right: 5px;
      color: colors.$orange;
    }
  }

  @media (max-width: 500px) {
    li {
      padding: 20px 20px;
    }

    .feedbacks-content {
      grid-gap: 10px;
    }
  }
}
