$primary: #26bb7d;
$secondary: #fff337;
$orange: #fec124;
$blue: #3bc5f0;
$title: #2e2e2e;
$paragraph: #6c6c6c;
$bg-light: #fcfdfd;
$bg-black: #000000;
$white: #ffffff;
$gray: #595959;
$gray-medium: #9c9c9c;
$gray-light: #dedede;
$border-light: #f5f4ef;
