@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 14px 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  padding: 8px 40px;
  font-weight: 600;
  border: 0;
  border-radius: 3px;
  letter-spacing: 0.3px;
  font-weight: 600;
  border: 2px solid $secondary-color;
  background: $secondary-color;
  color: #000000;
  transition: all 0.3s linear;

  &:hover {
    border: 2px solid #000000;
    background: #000000;
    color: #ffffff;
  }
}

.btn-dark {
  &:hover {
    border: 2px solid #ffffff;
    background: #ffffff;
    color: #000000;
  }
}

.btn-light {
  background: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;

  &:hover {
    border: 2px solid $secondary-color;
    background: #ffffff;
    color: #000000;
  }
}

img {
  -webkit-user-draggit: none;
}

p {
  color: #6c6c6c;
}

.bg-home {
  background: #ffffff;
  // background: #ecf8f4;
  //background: linear-gradient(55deg, #ffffff 40%, #fef7ef 60%);
  //background: linear-gradient(70deg, #f4f4f4 48%, #e44858 40%);
}

.section {
  padding: 100px 0;
}

.section-border > div {
  border-top: 1px solid #f5f4ef;
}

.section-header {
  margin-bottom: 80px;

  > div {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    display: block;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-left: 80px;

    &::before {
      position: absolute;
      content: '';
      width: 64px;
      height: 2px;
      border-radius: 3px;
      background: $primary-color;
      transition: transform 0.5s;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  h1 {
    font-size: 46px;
    max-width: 500px;
    color: #2e2e2e;
  }

  p {
    font-size: 16px;
    max-width: 450px;
  }
}

.section-dark {
  h3 {
    color: #fff337;

    &::before {
      background: #fff337;
    }
  }

  h1,
  p {
    color: #fff;
  }
}
